# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:portal
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:portal
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        minecraft:observer
        biomesoplenty:sacred_oak_fence_gate
        biomesoplenty:cherry_fence_gate
        biomesoplenty:umbran_fence_gate
        biomesoplenty:fir_fence_gate
        biomesoplenty:ethereal_fence_gate
        biomesoplenty:magic_fence_gate
        biomesoplenty:mangrove_fence_gate
        biomesoplenty:palm_fence_gate
        biomesoplenty:redwood_fence_gate
        biomesoplenty:willow_fence_gate
        biomesoplenty:pine_fence_gate
        biomesoplenty:hellbark_fence_gate
        biomesoplenty:jacaranda_fence_gate
        biomesoplenty:mahogany_fence_gate
        biomesoplenty:ebony_fence_gate
        biomesoplenty:eucalyptus_fence_gate
        biomesoplenty:sacred_oak_door_block
        biomesoplenty:cherry_door_block
        biomesoplenty:umbran_door_block
        biomesoplenty:fir_door_block
        biomesoplenty:ethereal_door_block
        biomesoplenty:magic_door_block
        biomesoplenty:mangrove_door_block
        biomesoplenty:palm_door_block
        biomesoplenty:redwood_door_block
        biomesoplenty:willow_door_block
        biomesoplenty:pine_door_block
        biomesoplenty:hellbark_door_block
        biomesoplenty:jacaranda_door_block
        biomesoplenty:mahogany_door_block
        biomesoplenty:ebony_door_block
        biomesoplenty:eucalyptus_door_block
        ic2:reinforced_door
        forestry:fence.gates.larch
        forestry:fence.gates.fireproof.larch
        forestry:fence.gates.teak
        forestry:fence.gates.fireproof.teak
        forestry:fence.gates.acacia
        forestry:fence.gates.fireproof.acacia
        forestry:fence.gates.lime
        forestry:fence.gates.fireproof.lime
        forestry:fence.gates.chestnut
        forestry:fence.gates.fireproof.chestnut
        forestry:fence.gates.wenge
        forestry:fence.gates.fireproof.wenge
        forestry:fence.gates.baobab
        forestry:fence.gates.fireproof.baobab
        forestry:fence.gates.sequoia
        forestry:fence.gates.fireproof.sequoia
        forestry:fence.gates.kapok
        forestry:fence.gates.fireproof.kapok
        forestry:fence.gates.ebony
        forestry:fence.gates.fireproof.ebony
        forestry:fence.gates.mahogany
        forestry:fence.gates.fireproof.mahogany
        forestry:fence.gates.balsa
        forestry:fence.gates.fireproof.balsa
        forestry:fence.gates.willow
        forestry:fence.gates.fireproof.willow
        forestry:fence.gates.walnut
        forestry:fence.gates.fireproof.walnut
        forestry:fence.gates.greenheart
        forestry:fence.gates.fireproof.greenheart
        forestry:fence.gates.cherry
        forestry:fence.gates.fireproof.cherry
        forestry:fence.gates.mahoe
        forestry:fence.gates.fireproof.mahoe
        forestry:fence.gates.poplar
        forestry:fence.gates.fireproof.poplar
        forestry:fence.gates.palm
        forestry:fence.gates.fireproof.palm
        forestry:fence.gates.papaya
        forestry:fence.gates.fireproof.papaya
        forestry:fence.gates.pine
        forestry:fence.gates.fireproof.pine
        forestry:fence.gates.plum
        forestry:fence.gates.fireproof.plum
        forestry:fence.gates.maple
        forestry:fence.gates.fireproof.maple
        forestry:fence.gates.citrus
        forestry:fence.gates.fireproof.citrus
        forestry:fence.gates.giganteum
        forestry:fence.gates.fireproof.giganteum
        forestry:fence.gates.ipe
        forestry:fence.gates.fireproof.ipe
        forestry:fence.gates.padauk
        forestry:fence.gates.fireproof.padauk
        forestry:fence.gates.cocobolo
        forestry:fence.gates.fireproof.cocobolo
        forestry:fence.gates.zebrawood
        forestry:fence.gates.fireproof.zebrawood
        forestry:fence.gates.vanilla.fireproof.oak
        forestry:fence.gates.vanilla.fireproof.spruce
        forestry:fence.gates.vanilla.fireproof.birch
        forestry:fence.gates.vanilla.fireproof.jungle
        forestry:fence.gates.vanilla.fireproof.acacia
        forestry:fence.gates.vanilla.fireproof.dark_oak
        forestry:doors.larch
        forestry:doors.teak
        forestry:doors.acacia
        forestry:doors.lime
        forestry:doors.chestnut
        forestry:doors.wenge
        forestry:doors.baobab
        forestry:doors.sequoia
        forestry:doors.kapok
        forestry:doors.ebony
        forestry:doors.mahogany
        forestry:doors.balsa
        forestry:doors.willow
        forestry:doors.walnut
        forestry:doors.greenheart
        forestry:doors.cherry
        forestry:doors.mahoe
        forestry:doors.poplar
        forestry:doors.palm
        forestry:doors.papaya
        forestry:doors.pine
        forestry:doors.plum
        forestry:doors.maple
        forestry:doors.citrus
        forestry:doors.giganteum
        forestry:doors.ipe
        forestry:doors.padauk
        forestry:doors.cocobolo
        forestry:doors.zebrawood
        extratrees:fence.gates.fir
        extratrees:fence.gates.fireproof.fir
        extratrees:fence.gates.cedar
        extratrees:fence.gates.fireproof.cedar
        extratrees:fence.gates.hemlock
        extratrees:fence.gates.fireproof.hemlock
        extratrees:fence.gates.cypress
        extratrees:fence.gates.fireproof.cypress
        extratrees:fence.gates.fig
        extratrees:fence.gates.fireproof.fig
        extratrees:fence.gates.beech
        extratrees:fence.gates.fireproof.beech
        extratrees:fence.gates.alder
        extratrees:fence.gates.fireproof.alder
        extratrees:fence.gates.hazel
        extratrees:fence.gates.fireproof.hazel
        extratrees:fence.gates.hornbeam
        extratrees:fence.gates.fireproof.hornbeam
        extratrees:fence.gates.box
        extratrees:fence.gates.fireproof.box
        extratrees:fence.gates.butternut
        extratrees:fence.gates.fireproof.butternut
        extratrees:fence.gates.hickory
        extratrees:fence.gates.fireproof.hickory
        extratrees:fence.gates.whitebeam
        extratrees:fence.gates.fireproof.whitebeam
        extratrees:fence.gates.elm
        extratrees:fence.gates.fireproof.elm
        extratrees:fence.gates.apple
        extratrees:fence.gates.fireproof.apple
        extratrees:fence.gates.yew
        extratrees:fence.gates.fireproof.yew
        extratrees:fence.gates.pear
        extratrees:fence.gates.fireproof.pear
        extratrees:fence.gates.hawthorn
        extratrees:fence.gates.fireproof.hawthorn
        extratrees:fence.gates.rowan
        extratrees:fence.gates.fireproof.rowan
        extratrees:fence.gates.elder
        extratrees:fence.gates.fireproof.elder
        extratrees:fence.gates.maclura
        extratrees:fence.gates.fireproof.maclura
        extratrees:fence.gates.syzgium
        extratrees:fence.gates.fireproof.syzgium
        extratrees:fence.gates.brazilwood
        extratrees:fence.gates.fireproof.brazilwood
        extratrees:fence.gates.logwood
        extratrees:fence.gates.fireproof.logwood
        extratrees:fence.gates.iroko
        extratrees:fence.gates.fireproof.iroko
        extratrees:fence.gates.locust
        extratrees:fence.gates.fireproof.locust
        extratrees:fence.gates.eucalyptus
        extratrees:fence.gates.fireproof.eucalyptus
        extratrees:fence.gates.purpleheart
        extratrees:fence.gates.fireproof.purpleheart
        extratrees:fence.gates.ash
        extratrees:fence.gates.fireproof.ash
        extratrees:fence.gates.holly
        extratrees:fence.gates.fireproof.holly
        extratrees:fence.gates.olive
        extratrees:fence.gates.fireproof.olive
        extratrees:fence.gates.sweetgum
        extratrees:fence.gates.fireproof.sweetgum
        extratrees:fence.gates.rosewood
        extratrees:fence.gates.fireproof.rosewood
        extratrees:fence.gates.gingko
        extratrees:fence.gates.fireproof.gingko
        extratrees:fence.gates.pinkivory
        extratrees:fence.gates.fireproof.pinkivory
        extratrees:fence.gates.banana
        extratrees:fence.gates.fireproof.banana
        extratrees:doors.apple
        extratrees:doors.fig
        extratrees:doors.butternut
        extratrees:doors.whitebeam
        extratrees:doors.rowan
        extratrees:doors.hemlock
        extratrees:doors.ash
        extratrees:doors.alder
        extratrees:doors.beech
        extratrees:doors.hawthorn
        extratrees:doors.banana
        extratrees:doors.yew
        extratrees:doors.cypress
        extratrees:doors.fir
        extratrees:doors.hazel
        extratrees:doors.hickory
        extratrees:doors.elm
        extratrees:doors.elder
        extratrees:doors.holly
        extratrees:doors.hornbeam
        extratrees:doors.cedar
        extratrees:doors.olive
        extratrees:doors.sweetgum
        extratrees:doors.locust
        extratrees:doors.pear
        extratrees:doors.maclura
        extratrees:doors.brazilwood
        extratrees:doors.logwood
        extratrees:doors.rosewood
        extratrees:doors.purpleheart
        extratrees:doors.iroko
        extratrees:doors.gingko
        extratrees:doors.eucalyptus
        extratrees:doors.box
        extratrees:doors.syzgium
        extratrees:doors.pinkivory
        advgenerators:control
        rustic:fence_gate_olive
        rustic:fence_gate_ironwood
        rustic:olive_door
        rustic:ironwood_door
        malisisdoors:wood_sliding_door
        malisisdoors:iron_sliding_door
        malisisdoors:jail_door
        malisisdoors:laboratory_door
        malisisdoors:factory_door
        malisisdoors:shoji_door
        malisisdoors:curtain_white
        malisisdoors:curtain_orange
        malisisdoors:curtain_magenta
        malisisdoors:curtain_light_blue
        malisisdoors:curtain_yellow
        malisisdoors:curtain_lime
        malisisdoors:curtain_pink
        malisisdoors:curtain_gray
        malisisdoors:curtain_silver
        malisisdoors:curtain_cyan
        malisisdoors:curtain_purple
        malisisdoors:curtain_blue
        malisisdoors:curtain_brown
        malisisdoors:curtain_green
        malisisdoors:curtain_red
        malisisdoors:curtain_black
        malisisdoors:customdoor
        malisisdoors:saloon
        malisisdoors:camofencegate
        malisisdoors:verticalhatch
        nuclearcraft:reactor_door
        openblocks:target
        openblocks:big_button
        openblocks:big_button_wood
        openblocks:village_highlighter
        openblocks:block_breaker
        openblocks:block_placer
        openblocks:sky
        openblocks:xp_shower
        signals:limiter_rail
        advancedrocketry:airlock_door
        advancedrocketry:oxygendetection
        appliedenergistics2:security_station
        appliedenergistics2:quartz_growth_accelerator
        appliedenergistics2:crafting_unit
        appliedenergistics2:crafting_accelerator
        appliedenergistics2:crafting_storage_1k
        appliedenergistics2:crafting_storage_4k
        appliedenergistics2:crafting_storage_16k
        appliedenergistics2:crafting_storage_64k
        appliedenergistics2:crafting_monitor
        appliedenergistics2:molecular_assembler
        thaumcraft:activator_rail
        botania:manadetector
        botania:endereyeblock
        botania:starfield
        botania:brewery
        botania:redstringdispenser
        botania:prism
        botania:corporeafunnel
        botania:corporeainterceptor
        botania:hourglass
        botania:sparkchanger
        botania:lightrelay
        botania:lightlauncher
        botania:cacophoniumblock
        botania:redstringinterceptor
        botania:corporearetainer
        natura:overworld_door_eucalyptus
        natura:overworld_door_hopseed
        natura:overworld_door_sakura
        natura:overworld_door_redwood
        natura:overworld_door_redwood_bark
        natura:nether_door_ghostwood
        natura:nether_door_bloodwood
        natura:nether_lever
        natura:nether_button
        natura:nether_pressure_plate
        natura:blaze_rail_golden
        natura:blaze_rail_activator
        natura:blaze_rail_detector
        natura:maple_button
        natura:maple_pressure_plate
        natura:maple_fence_gate
        natura:silverbell_button
        natura:silverbell_pressure_plate
        natura:silverbell_fence_gate
        natura:amaranth_button
        natura:amaranth_pressure_plate
        natura:amaranth_fence_gate
        natura:tiger_button
        natura:tiger_pressure_plate
        natura:tiger_fence_gate
        natura:willow_button
        natura:willow_pressure_plate
        natura:willow_fence_gate
        natura:eucalyptus_button
        natura:eucalyptus_pressure_plate
        natura:eucalyptus_fence_gate
        natura:hopseed_button
        natura:hopseed_pressure_plate
        natura:hopseed_fence_gate
        natura:sakura_button
        natura:sakura_pressure_plate
        natura:sakura_fence_gate
        natura:redwood_button
        natura:redwood_pressure_plate
        natura:redwood_fence_gate
        natura:ghostwood_button
        natura:ghostwood_pressure_plate
        natura:ghostwood_fence_gate
        natura:bloodwood_button
        natura:bloodwood_pressure_plate
        natura:bloodwood_fence_gate
        natura:fusewood_button
        natura:fusewood_pressure_plate
        natura:fusewood_fence_gate
        natura:darkwood_button
        natura:darkwood_pressure_plate
        natura:darkwood_fence_gate
        enderio:block_dark_steel_door
        enderio:block_self_resetting_lever5
        enderio:block_self_resetting_lever10
        enderio:block_self_resetting_lever30
        enderio:block_self_resetting_lever60
        enderio:block_self_resetting_lever300
        enderio:block_painted_fence_gate
        enderio:block_painted_wooden_door
        enderio:block_painted_iron_door
        enderio:block_painted_dark_steel_door
        tconstruct:slime_channel
        darkutils:update_detector
        darkutils:sneaky_lever
        darkutils:sneaky_plate
        darkutils:sneaky_button
        darkutils:timer
        extrarails:locking_rail
        extrarails:direction_rail
        integrateddynamics:menril_door
        storagedrawers:keybutton
        quark:nether_brick_fence_gate
        quark:obsidian_pressure_plate
        cyclicmagic:wireless_transmitter
        cyclicmagic:wireless_receiver
        cyclicmagic:clock
        cyclicmagic:password_block
        davincisvessels:crate_wood
        embers:caminite_lever
        wizardry:wisdom_wood_door
        wizardry:wisdom_wood_fence_gate
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


