# Configuration file

client {
    B:enchantment_glow=true
    S:glowing <
        minecraft:glowstone|false
        minecraft:glowstone_dust
        minecraft:blaze_rod
        minecraft:blaze_powder
        minecraft:sea_lantern|false
        minecraft:prismarine_crystals
        minecraft:end_rod|false
        minecraft:experience_bottle
        quark:blaze_lantern|false
     >

    # The maximum amount of particles that can exist at a time from the particle system.
    # Default: 10000
    I:max_particle_count=10000
    B:potion_glow=true

    # Controls whether LibLib's shaders are used. If you're using the GLSL Shaders mod and are having graphical troubles with visuals, you may want to turn this off.
    # Default: false
    B:shaders=false
}


general {
    # Only require one bonemeal to grow LibrarianLib saplings.
    # Default: false
    B:one_bonemeal=false
}


