# Configuration file

general {
    # A list of numbers of unique foods you need to eat to unlock each milestone, in ascending order.
    I:"Milestone amounts" <
        15
        30
        45
        60
        75
        90
        115
        140
        175
        200
        250
        300
        350
        400
        450
        500
        550
        600
        650
        700
     >

    # Number of hearts you start out with.
    I:defaultHeartCount=10

    # Number of hearts you gain for reaching a new milestone.
    I:heartsPerMilestone=1

    # If true, foods indicate in their tooltips whether or not they have been eaten.
    B:isFoodTooltipEnabled=true

    # Whether the messages notifying you of reaching new milestones should be displayed above the hotbar or in chat.
    B:shouldShowProgressAboveHotbar=true
}


