# Configuration file

##########################################################################################################
# 01_shared_settings
#--------------------------------------------------------------------------------------------------------#
# General Options
# Affect both client and server.  These configs must match for client and server, or
# strange and probably BAD things WILL happen.
##########################################################################################################

01_shared_settings {
    # Action Range
    # Default=3
    # The range in blocks that an NPC can perform an action on something. The player has an action
    # range of 5. Only affects workers, no effect on the attack range of combat units nor medics.
    # Minimum value of 3 unless you want NPC's to bug-out and get stuck at random.
    I:npc_action_range=3

    # NPC's will keep orders items on death?
    # Default=true
    # If true, an NPC who dies and manages to notify a nearby town hall will keep their orders items on their body. So if/when a priest resurrects them, they will have the orders items on them still. If there is no Town Hall nearby to catch the death however, the will drop on the ground as normal.
    B:npc_death_keep_orders_items=true

    # Repack only available for Creative players?
    # Default=false
    # If true, the 'Repack' option for NPC's will be unavailable outside of Creative mode.
    B:npc_repack_creative_only=false
}


##########################################################################################################
# 02_server_settings
#--------------------------------------------------------------------------------------------------------#
# Server Options
# Affect only server-side operations.  Will need to be set for dedicated servers, and single
# player (or LAN worlds).  Clients playing on remote servers can ignore these settings.
##########################################################################################################

02_server_settings {
    # Allow NPC upkeep location at any inventory
    # Default=true
    # By default, the Upkeep Order slip can be used to assign upkeep locations to any valid inventory block.
    # If set to false, only Town Hall blocks will be allowed as valid upkeep locations.
    B:allow_upkeep_any_inventory=true

    # Archer attack range
    # Default=16.0
    # Attack range of all archers, except mounted archers who are half of this value.
    D:archer_attack_range=16.0

    # Export entity name list
    # Default=false
    # If true, a text file will be created in the main ancientwarfare config directory containing a list of all registered in-game entity names.
    # These names may be used to populate the NPC target lists.
    B:export_entity_names=false

    # Max NPC Level
    # Default=10
    # How high can NPCs level up?  Npcs gain more health, attack damage, and overall
    # improved stats with each level.  Levels can go very high, but higher values may
    # result in overpowered NPCs once leveled up.
    I:npc_max_level=10

    # Time Between Work Ticks
    # Default=50
    # How many game ticks should pass between workers' processing work at a work-site.
    # Lower values result in more work output, higher values result in less work output.
    I:npc_work_ticks=50

    # XP Per Attack
    # Default=1
    # How much xp should an NPC gain each time they damage but do not kill an enemy?
    # Higher values will result in faster npc leveling.
    # Applies to both player-owned and faction-based NPCs.
    I:npc_xp_per_attack=1

    # XP Per Courier
    # Default=1
    # How much xp should an NPC gain each time it moves an item?
    # Higher values will result in faster npc leveling.
    # Applies to player-owned NPCs only.
    I:npc_xp_per_item_moved=1

    # XP Per Killnefault=5
    # How much xp should an NPC gain each time they kill an enemy?
    # Higher values will result in faster npc leveling.
    # Applies to both player-owned and faction-based NPCs.
    I:npc_xp_per_kill=5

    # XP Per Trade
    # Default=1
    # How much xp should an NPC gain each time successfully traded with?
    # Higher values will result in faster npc leveling and unlock more trade recipes.
    # Applies to both player-owned and faction-based NPCs.
    I:npc_xp_per_trade=1

    # XP Per Work
    # Default=1
    # How much xp should an NPC gain each time it works at a worksite?
    # Higher values will result in faster npc leveling.
    # Applies to player-owned NPCs only.
    I:npc_xp_per_work=1

    # Default=5.0
    # Configure the starting countdown value (in minutes) that inactive Town Halls (i.e. no friendly player or NPC nearby) will progress a stage
    # of abandonment. If it is reached once, it will send a warning to the player of abandonment - if reached again, it will abandon. 
    # The limit is also reset (and capture/reactivate if relevant) if a player opens the Town Hall GUI OR if an NPC takes food from it.
    D:town_hall_active_check_limit=5.0

    # Default=0.2
    # If the Town Hall active check is enabled, it will check for nearby NPC's or players by this factor of the town_hall_active_check_limit setting.
    # E.g. if the town_hall_active_check_limit is 5.0 (5 minutes), setting this to 0.2 will check every minute.
    D:town_hall_active_check_rate=0.2

    # Nearby NPC or Player required for chunk claim/loading activation 
    # Default=false
    # If you have chunk claim/loading enabled via FTBU_AW2 options, you can enable this to only keep the claims/loads 'active' while there is an NPC within range.
    # The range will be the same chunk radius as the chunk loading radius, and will not function if it's disabled (i.e. set to -1).
    B:town_hall_active_requires_nearby_npc_or_player=false

    # Default=15
    # Search range in blocks upwards/downwards (either direction) to check for friendly NPC's/Players when determining active status (if enabled).
    I:town_hall_active_search_height=15

    # Default=1
    # [ REQUIRES FTBU_AW2 ]
    # Specify the claimed chunk radius around Town Hall, not inclusive of the Town Hall chunk itself.
    # E.g. 0 would claim the chunk of the Town Hall only, 1 = a 3x3 chunk area centered on the Town Hall.
    # Warning: changing this value will NOT update existing worlds. You will have to manually destroy/replace
    # every Town Hall block to reflect any new value you set.
    I:town_hall_chunk_claim_radius=1

    # Default=-1
    # Specify the loaded chunk radius around Town Hall, not inclusive of the Town Hall chunk itself.
    # E.g. 2 = a 5x5 chunk area centered on the Town Hall, 3 = a 7x7 area.
    # If using chunk claiming via FTBU_AW2, you probably want this to be at least 1 higher than the claim radius.
    # WARNING - There is a good chance you'll want to edit the forgeChunkLoading config - the default mod limit of
    # 25 chunks per ticket may be too low (each Town Hall has it's own ticket), as well as total ticket limit.
    I:town_hall_chunk_load_radius=-1

    # Town Hall Max Activation Range
    # Default=100
    # How many blocks can a Town Hall be away from an NPC, while still detecting their death for possible resurrection.
    # This is a maximum, for server efficiency sake. Lower individual values can be setup from each block interaction GUI.
    I:town_hall_max_range=100

    # Default=100
    # How many game ticks should pass between Town Hall updates.This affect how an NPC can change its selected Town Hall by moving to different places.
    # Lower values will make an NPC change its Town Hall faster, but is more costly for a server.
    # If chunk loading is available (via FTBU_AW2), this also set the frequency of force-loading chunks.
    I:town_hall_ticks=100
}


##########################################################################################################
# 03_client_settings
#--------------------------------------------------------------------------------------------------------#
# Client Options
# Affect only client-side operations.  Many of these options can be set from the in-game Options GUI.
# Server admins can ignore these settings.
##########################################################################################################

03_client_settings {
    # Load Default Skin Pack
    # Default=true
    # If true, default skin pack will be loaded.
    # If false, default skin pack will NOT be loaded -- you will need to supply your own
    # skin packs or all npcs will use the default skin.
    B:load_default_skin_pack=true
    B:render_friendly_health=true
    B:render_friendly_nameplates=true
    B:render_hostile_health=true
    B:render_hostile_nameplates=true
    B:render_npc_ai=true
    B:render_team_colors=true
    B:render_work_points=true
}


##########################################################################################################
# 04_recipe_settings
#--------------------------------------------------------------------------------------------------------#
# Recipe Options
# Enable / Disable specific recipes, or remove the research requirements from specific recipes.
# Affect only server-side operations.  Will need to be set for dedicated servers, and single
# player (or LAN worlds).  Clients playing on remote servers can ignore these settings.
##########################################################################################################

04_recipe_settings {
}


##########################################################################################################
# 05_pathfinder_settings
#--------------------------------------------------------------------------------------------------------#
# Pathfinder Blacklisting
# This section is for specifying blocks that the NPC's pathfinding will avoid pathing OVER or THROUGH.
# Unless you like NPC's jumping on chests and getting stuck on fences, you should leave these all.
# You can also add custom mod blocks here.
##########################################################################################################

05_pathfinder_settings {
    # Avoid Chests
    # Default=true
    # Avoid vanilla chests, including anything that uses the same rendertype or extends BlockChest, which may include
    # mod-added chests.
    B:pathfinder_avoid_chests=true

    # Avoid Fences/Walls
    # Default=true
    # Avoid vanilla fences and walls, including anything that uses the same rendertype or extends BlockFence/BlockWall,
    # which may include mod-added fences and walls.
    B:pathfinder_avoid_fences=true

    # Avoid Other blocks
    # Default=[Ljava.lang.String;@43c98507
    # List of custom blocks you also want NPC's to avoid.
    # Put each block on a new line. Use the format modId:blockName[:meta]
    S:pathfinder_avoid_others <
        
     >
}


